body {
  margin: 0;
  font-family: "Neucha", cursive;
  font-weight: 500;
  font-style: normal;
  line-height: 2;
  font-size: 16px;
  color: #22466F;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5dbbf;
  background-image: url(assets/background3.png);
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
